.tinyarrow_right {
    border: solid var(--submenu_letter_color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
	margin: 2px;
    transform: rotate(-45deg);
	transition: transform .5s;
}


.tinyarrow_left {
    border: solid var(--submenu_letter_color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
	margin: 2px;
    transform: rotate(135deg);
	transition: transform .5s;

}


.arrow {
	position: absolute;
    border: solid var(--icon_color);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
	transition: transform .5s;
	margin-top: 26px;
	margin-left: 74px;
}
