@import '../0_css_apoio/reset.css';
@import '../0_css_apoio/tabela1.css';
@import '../0_css_apoio/tabela2.css';
@import '../0_css_apoio/botoes.css';

:root {

	--tabela1_input_size: 200px;
	--tabela1_input_letter_size: 17px;
	--tabela1_letter_size: 17px;
/*
	--tabela1_td_height: 45px; 
	--tabela1_td_width: 200px ;*/
}

table {
	text-align: center;
	margin-left: 320px;
	margin-right: auto;
	margin-top: 20px;
}

